In [ ]:
(), {}, []

In [ ]:
tup_1 = (1,2,3,4,5)
tup_2 = (1,2,3,4,5)
set_1 = {1,2,3,4,5}
set_2 = {1,2,3,4,5}
list_1 = [1,2,3,4,5]
list_2 = [1,2,3,4,5]


print(tup_1 == tup_2)
print(tup_1 is tup_2)
print(set_1 == set_2)
print(set_1 is set_2)
print(list_1 == list_2)
print(list_1 is list_2)

False
False
True
False
True
False

In [4]:
list_1[0] = 10  # This will change the first element of the list to 10
print(list_1)

[10, 2, 3, 4, 5]

In [ ]:
list_1 = [1,2,3,4,5] # [0,1,2,3,4]
list_2 = [1,2,3,4,5] 
my_name = "mehedi hasan"


print(list_1 == list_2) 
print(list_1 is list_2)

True
False

In [ ]:
# -5, 256 # same memory location

a = 1000 
b = 1000
print(a is b)

False

In [ ]:
[], {}, "str"

In [ ]:
#mehediHasanBinHfiz : camel case

#MehediHasanBinHfiz : title case